<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>My Todos</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="app" v-cloak>
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo" autofocus autocomplete="off" placeholder="Enter todo" v-model="newTodo" @keyup.enter="addTodo">
			</header>
			<section class="main" v-if="todos.length">
				<ul class="todo-list">
					<li class="todo" v-for="todo in todos" :class="{completed: todo.completed, editing: todo == editedTodo}">
						<div class="view">
							<input class="toggle" type="checkbox" :checked="todo.completed" @click="checkTodo(todo)">
							<label @dblclick="editTodo(todo)">{{todo.title}}</label>
							<button class="destroy" @click="removeTodo(todo)"></button>
						</div>
						<input class="edit" type="text" v-model="todo.title" v-todo-focus="todo == editedTodo" @blur="doneEdit(todo)" @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)">
					</li>
				</ul>
			</section>
			<footer class="footer" v-show="todos.length">
				<span class="todo-count">
					<strong v-text="remaining"></strong> {{ remaining | pluralize }} left
				</span>
			</footer>
    </div>
		<script src="vue.js"></script>
		<script src="main.js"></script>
	</body>
</html>
